* {
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
}

button {
  all: unset;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #141a72;
}

header {
  display: flex; 
  justify-content:center;
  background-color: white;
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#nav {
  display: flex;
}

.logo-1 {
  height: 5rem;
}

.logo-2 {
  align-self: center;
  height: 7rem;
  padding-right: 9rem;
}

.footer-tab {
  display: flex;
  flex-direction: column;
  color: #141a72;
}

.footer-tab p {
  font-weight: bold;
  padding-bottom: 1rem;
}

.footer-item {
  color: #141a72;
  padding-bottom: .4rem;
  width: 1;
}

#header #spacer {
  padding-left: 30vw;
}

#nav {
  display: flex;
  flex-wrap: wrap;
}

#nav button {
  cursor: pointer;
}

#nav a { 
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  color: #141a72;
  align-self: center;
  display: inline-block;
}

#search {
  align-self: center;
  padding-left: 2rem;
}

#nav{
  display: flex;
  flex-wrap: nowrap;
}

#content {
  height: 90vh;
}

.dropdown {
  position: relative;
  font-weight: bold;
  color: #141a72;
  align-self: center;
}

.dropdown:hover {
  text-decoration: underline;
  transition-delay: 1000ms;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10rem;
  z-index: 1;
}

.dropdown-content a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: .1rem solid rgb(37, 127, 37);
}

#search-button {
  background-color: rgb(37, 127, 37);
  padding: .2rem;
  color: white;
}

#search-button:hover {
  background-color: rgb(44, 153, 44);

}

#search form {
  vertical-align: middle;
}